<!DOCTYPE html>
<html lang="en">
<head>
    {{>HeaderLinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-flued main_header">
            <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <div class="col-md-6 col-12 main_header_left">
                               <p>Welcome to weather App</p>
                               <h1>I am a <span class="text_clr">mern stack developer</span> fresher and hard worker</h1>
                               <a href="https://www.thapatechnical.com/" target="_blank"><button>About me</button></a>
                            </div>
                            <div class="col-md-6 col-12 main_header_right align-items-center">
                                <figure>
                                    <img src="image/images3.png" alt="doingCodingMan" class="img-fluid" title="anwar-technical">
                                </figure>
                            </div>
                        </div>
                    </div>
           </div>
    </div>
 {{>footer}}
</body>
</html>